  body{
       background-color: darkgreen;
	  }
   h1 {
       font-family: optima;
	   color: deepskyblue;
	   }
   h3 {
       font-family: gill sans;
	   font-size: 150%;
	   color: gold;
	   }
	p{
	  font-family: platino;
	  font-size: 90%;
	  color: indianred;
	  border:2px solid black;
	  margin: 50px;
	  }